<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body style="background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566))">
    <div>
        <%- include('head.ejs') %>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
            <h6 class="py-4 text-4xl font-bold"><%=title1 %></h6>
            <h6 class="py-4 text-4xl font-bold"><%=Election1.id %></h6>
            
                <label class=" text-xl font-bold text-black-600">Manage Questions</label>
                
                <div>
                    <%- include('addquestion.ejs') %>
                </div>
                
                
                <label  class=" text-xl font-bold text-black-600">Manage Voters</label>
                <br>
                <div>
                    <%- include('addvoters.ejs') %>
                </div>
                <div>
                    
                </div>


                <br>
                <a href="#" class="underline text-xl underline-offset-1 text-blue-600 justify-center">Launch election</a>
               

        </div>
        

           
    </div>

</body>
</html>