<script>
  var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        
    
        function updateoption(id,rid) {
          const title1 = document.getElementById(`${rid}`).value;
          fetch(`/elections1/${id}/options/${rid}`, {
                    method: 'put',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                      questionid:id,
                      rid:rid,
                      title:title1,
                      "_csrf": token,
                 
                  
                })
                  }).then((res) => {
                    if(res.ok)
                    {
                      window.location.reload();
                    }
                  
                  }).catch(err => console.error(err))
          }
    
</script>

<ul class="list-none">
    <% for(var i=0; i<row.length; i++) {%>
      <li class="election-Item">
        <div class="flex items-center ml-3  p-1 my-2 px-1 py-3 rounded ">
            
          <div class="py-2 px-3">
            <%= i+1 %> .
            <input type="text" name="option" placeholder="" class=" p-2 rounded border border-blue-900" id="<%= row[i].id %>" value=" <%= row[i].option %>">
            
        </div>
             
              <div class="py-2 px-3">
                <button  name="update" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"><a href="" onclick="updateoption(<%=data.id %>,<%= row[i].id %>)">update</a></button>
              </div>

              
              <div class="py-2 px-3">
                <button  name="delete" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"><a href="" onclick="removeoption(<%=data.id %>,<%= row[i].id %>)">delete</a></button>
              </div>


        </div>
      </li>
      <% } %>
  </ul>