<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566))">
    <div>
        <%- include('head.ejs') %>
    </div>
    <div>

        <button class="bg-green-600 hover:bg-green-800 text-xl text-white px-5 ml-5 py-2 rounded font-medium "  onclick="window.location.href='/elections1/<%= id%>';" >Go back</button>
             
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
           

            <ul class="list-none">
                <% for(var i=0; i<data.length; i++) {%>
                    <li class="Election-Item">
                        <div class="flex p-4">
                            <div class="flex-auto">
                                       
                                    <div class="text-gray-900 uppercase p-2 font-bold text-xl">
                                        <%=i+1%> .
                                        <%= data[i].question %>
                                    </div>
                                
                                    <div class=" text-black-600 px-9  ">
                                        <%= data[i].description %>
                                    </div>
                            </div>
                        
                            <% for(var j=0; j<questionoptions[i].length; j++) {%>
                                <li class="Election-Item">
                                    <div class="flex px-4">
                                        <div class="flex-auto">
                                                  
                                                <div class="uppercase text-black-600 px-9 font-bold ">
                                                    <input type="radio"  name="<%= questionoptions[i][j].option %>"  value="<%= questionoptions[i][j].id %>"   >
                                                    <label for="<%= questionoptions[i][j].option %>">
                                                        <%= questionoptions[i][j].option %>
                                                    </label>
                                                    
                                                    
                                                </div>
                                        </div>
                                    
                                </li>
                                <% } %>




                    </li>
                    <% } %>



            </ul>
            
        </div>
    </div>
       
                
</div>
</div>


           
    </div>

</body>
</html>