
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    
</head>
<body  style="background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566))">
    <script>
      
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        
        function deleteoption(optionid) {
          console.log(id);
          fetch(`/elections1/:id/${optionid}`, {
            method: 'delete',
            headers: { 'Content-Type': 'application/json'},
            //body: JSON.stringify({
          
       // })
          }).then((res) => {
            if(res.ok)
            {
              window.location.reload();
            }
          }).catch(err => console.error(err))
        }




    function deletequestion(id,questionid) {
          console.log("qui",questionid);
          fetch(`/elections1/${id}/question/${questionid}`, {
            method: 'delete',
            headers: { 'Content-Type': 'application/json'},
            body: JSON.stringify({
                id:id,
                questionid:questionid,
          //completed: true,
          "_csrf": token
        })
          }).then((res) => {
            if(res.ok)
            {
              window.location.reload();
            }
          }).catch(err => console.error(err))
        }
 

      </script>
    
    <div>
        <%- include('head.ejs') %>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-1 col-span-5">
          <button  class="bg-green-600 hover:bg-green-800 text-xl ml-5 rounded px-5 py-2 text-white" onclick="window.location.href='/elections1/<%= id%>';">Go back
          </button><div> 
                    <% if (data.length==0){ %>
                        <h5 class="px-6 col-start-3 ml-5 text-2xl text-grey-600 justify-center">You haven't added any questions yet!</h5>
                        <% } else{ %>
                            <h4 class=" font-bold px-5 py-3 col-start-3 text-2xl">List of questions:</h4>
                            <label class="pl-6 pr-2 text-xl text-black-600  rounded border-gray-600">
                                    There are <%- data.length %> questions
                                </label> 
                            <ul class="list-none">
                                <% for(var i=0; i<data.length; i++) {%>
                                    <li class="Election-Item">
                                        <div class="flex gap-2 p-4">
                                            <div class="flex-auto font-bold w-full">question: &nbsp;&nbsp;&nbsp;
                                                 <label class=" text-2xl   border border-gray-600 w-full  bg-green-600 hover:bg-green-800">
                                                  <%= data[i].question %>
                                                </label>
                                            
                                             
                                        
                                        <div class="flex-auto font-bold " >description:
                                             <label class="font-bold text-2xl border border-gray-600 bg-green-600 hover:bg-green-800">
                                              <%= data[i].description %>
                                            </label>
</div>
                                        </div>
                                        <div class="py-7 px-5">
                                            <a  class="px-5 py-2 border border-red-300 font-bold bg-green-600 hover:bg-green-800 text-white rounded"  href="" onclick="deletequestion(<%= id%>,<%= data[i].id %>)">Delete</a>
                                        </div> 
                                        <div class="py-5 px-5">
                                            <button  name="manage" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2" onclick="window.location.href='/elections1/<%= id%>/question/<%= data[i].id %>'">Manage</button>
                                        </div> 
                                    </div>  
                                        
                                        <div class="col-start-2">

                                <div class="grid grid-cols-6">
                                <div class="col-start-1 col-span-2">
          
         
  </div>
</div>

                                        </div>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } %>
                </div>
                <div>
                    </div>
                    <div>
                        
                    </div>
        </div>
    
</body>
</html>
