<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Online Voting App</title> 
</head>
<body>
    <%- include('header.ejs') %>

    <% if(Election1.status){ %>
   <div style="width:700px;height:600px;margin-top: 30px;margin-left: auto;margin-right: auto;background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566));border-radius: 40px;padding-top: 50px;"> 
  

        <div class="grid grid-cols-6">
            <div class="col-start-2 col-span-4">
                <div class="flex justify-center">
                    <p class="text-2xl uppercase text-gray-600 font-bold">This election has ended.</p>
                  </div>
                <h6 class="py-4 text-4xl font-bold text-rose-600"><%=title1 %></h6>
                
            
                <div>
                <h6>
                    Number of votes casted:<%=count1%>
                </h6>
                <h6>
                    Number of Total voters: <%=voterscount%>
                </h6>
            </div>
            </div>
            
    
            
    </div>
            <div class="grid grid-cols-6">
                <div class="col-start-2 col-span-3">
                   
        
                    <ul class="list-none">
                        <% for(var i=0; i<data.length; i++) {%>
                            <li class="Election-Item">
                                <div class="flex p-4">
                                    <div class="flex-auto">
                                               
                                            <div class="text-gray-900 uppercase p-2 font-bold text-xl">
                                                <%=i+1%> .
                                                <%= data[i].question %>
                                            </div>
                                            <div class="text-gray-900  p-2  text-xl">
                                                <%= data[i].description %>
                                            </div>
                                        
                                    </div>
                                
                                    <% for(var j=0; j<questionoptions[i].length; j++) {%>
                                        <li class="Election-Item">
                                            <div class="flex px-4">
                                                <div class="flex-auto">
                                                          
                                                        <div class="uppercase text-black-600 px-9 p-2 font-bold ">
                                                            
                                                            <label for="<%= questionoptions[i][j].option %>">
                                                                <%= questionoptions[i][j].option %>
                                                                
                                                            </label>&nbsp;&nbsp;
                                                            <label class="text-rose-600">Votes Count:
                                                                <%= voteslist[j] %>
                                                            </label>
                                                            
                                                            
                                                        </div>
                                                </div>
                                            
                                        </li>
                                        <% } %>
        
        
        
        
                            </li>
                            <% } %>
        
        
        
                    </ul>
                    
                </div>
            </div>
    
               
        </div>

    </div>

        <% } else { %>
    <div style="width:500px;height:400px;margin-top: 30px;margin-left: auto;margin-right: auto;background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566));border-radius: 40px;padding-top: 50px;">
        <div>
                
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <li> <%= messages.error[i] %></li>
                <% } %>
              <% } %>
        </div>





    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-3">
            <h6 class="py-2 text-xl font-bold">Login in as Voter</h6>
        
            <form action="/elections1/<%= id %>/vote" method="post">
                
                <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
               
                <input type="hidden" name="id" value="<%=id%>" />
                <div class="py-3">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="border border-gray-300 text-black-300 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="border border-gray-300 text-black-300 rounded p-2 w-full">
                </div>
                <div class="py-3 px-20">
                    <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded-full px-5 py-2">Sign in</button>
                </div>
               

        </div>

            </form>
           
    </div>
    </div>


    <%}%>
</body>
</html>