<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    
</head>
<body  style="background-image: linear-gradient(43deg,rgba(157, 255, 242, 0.566),rgba(168, 255, 168, 0.566))">
    <script>
 var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        
 
function updatevoters(id,vid) {
          const title1 = document.getElementById(`${vid}`).value;
          fetch(`/elections1/${id}/${vid}`, {
                    method: 'put',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                      id:id,
                      vid:vid,
                      email:title1,
                      "_csrf": token,
                 
                }),
                  }).then(async res => {
                if (res.status !== 200) {
                    const json = await res.json();
                    showMessage(json.errors, 'error');
                } else {
                    window.location.reload();
                }
            });
          }

          const deletevoter = (id,voterId) => {
            fetch(`/elections1/${id}/${voterId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id:id,
                      voterId:voterId,
                    "_csrf": token,
                }),
            }).then(async res => {
                if (res.status !== 200) {
                    const json = await res.json();
                    showMessage(json.errors, 'error');
                } else {
                    window.location.reload();
                }
            });
        }

    </script>
    <div>
        <%- include('head.ejs') %>
    </div>
    <button  class="bg-green-600 hover:bg-green-800 text-xl ml-5 rounded px-5 py-2 text-white" onclick="window.location.href='/elections1/<%= id%>';">Go back
    </button>
    <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-5">
        
            <div>
                <% if (data.length==0){ %>
                    <h5 class="font-bold text-2xl">You haven't registered any voters yet!</h5>
                    <% } else{ %>
                        <h4 class="mt-8 font-bold    text-2xl">List of Voters
                            
                        </h4>
                        <br>
                        <label class="pl-2 pr-2 text-2xl text-black-600  rounded border-gray-600">
                           There are <%- data.length %> voters
                        </label>
                        <ul class="list-none">
                            <% for(var i=0; i<data.length; i++) {%>
                                <li class="Election-Item">
                                    <div class="flex w-fit my-2 py-1 items-center rounded border ">
                                        
                                        <input type="text" class="p-3 rounded border border-black-600 w-full" name="email" placeholder="email"  id="<%= data[i].id %>" value="<%= data[i].email %>">

                                        
                                        
                                        <div class="py-2 px-5">
                                            
                                            <a href="" class="px-5 py-2 border border-red-300 font-bold bg-green-600 hover:bg-green-800 text-white rounded"  onclick="deletevoter(<%=id%>,<%= data[i].id %>)">Delete</a>
                                        </div> 
                                        <div class="py-2 px-5">
                                            <a class="px-5 py-2 border font-bold bg-green-600 hover:bg-green-800 text-white rounded"  href="" onclick="updatevoters(<%=id%>,<%= data[i].id %>)">Update</a>
                                        </div> 
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
            </div>
            <div>
                </div>
                <div>
                    
                </div>
    </div>
</div>
</body>
</html>


